<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container-fluid">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Suivi Nous</p>
					<ul class="newsletter-follow">
						<li>
							<a href="https://www.facebook.com/literiedamour"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/literie_damour/"><i class="fa fa-instagram"></i></a>
						</li>

					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->
<!-- FOOTER -->
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container-fluid">
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-xs-6">
					<div class="footer">
						<div class="logo" style="margin-bottom: 5%;">
							<img src="/assets/img/logo1.png" alt="" width="200">
						</div>

						<ul class="footer-links">
							<li><a href="tel:+213561446414"><i class="fa fa-phone"></i> 0561446414</a></li>
							<li><a href="mailto: contact@literiedamour.dz"><i class="fa fa-envelope-o"></i>contact@literiedamour.dz</a></li>
							<li><a href="https://maps.app.goo.gl/KbpANepKFsNSBQgf8" target="_blank"><i class="fa fa-map-marker"></i>Rue 20 aout commune bordj bahri </a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Categories</h3>
						<ul class="footer-links" id="footer_cat">

						</ul>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->

	<!-- bottom footer -->
	<div id="bottom-footer" class="section">
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Tous droits réservés | Réaliser <i class="fa fa-heart-o" aria-hidden="true"></i> par<a
							href="https://www.blackconcept-dev.com" target="_blank" style="color: #fff !important;"> Black concept - Sarl</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bottom footer -->
</footer>

<!-- /FOOTER -->





<%- include ("modal.ejs") %> 



<!-- jQuery Plugins -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/nouislider.min.js"></script>
<script src="/assets/js/jquery.zoom.min.js"></script>
<script src="/assets/js/main.js"></script>


<script src="/lib/functions.js"></script>


<style>


	.spinner {
	  position: relative;
	  width: 45px;
	  height: 45px;
	  margin: 0 auto;
	}
	
	.bubble-1,
	.bubble-2 {
	  position: absolute;
	  top: 0;
	  width: 25px;
	  height: 25px;
	  border-radius: 100%;
	  background-color: #223f3a;
	}
	
	.bubble-2 {
	  top: auto;
	  bottom: 0;
	}
	
	.bar {
	  float: left;
	  width: 50px;
	  height: 6px;
	  border-radius: 2px;
	  background-color: #223f3a;
	}
	

	.l-10 {
	  animation-delay: 1.56s;
	}
	
	
	.load-10 .bar {
	  animation: loadingJ 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
	}
	
	
	@keyframes loadingJ {
	  0%,
	  100% {
		transform: translateX(130px);
	  }
	
	  50% {
		transform: translateX(-10px);
		background-color: #d3a04f;
		
		
	  }
	}
	
</style>



</body>

</html>



