<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Literie d'amour</title>

		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/icon.png">

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="/assets/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="/assets/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/assets/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="assets/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>

    </head>
	<body>

				<!-- HEADER -->
				<header>
					<!-- TOP HEADER -->
					<div id="top-header">
						<div class="container-fluid">
							<ul class="header-links pull-left mobile-none">
								<li><a href="tel:+213561446414"><i class="fa fa-phone"></i> 0561446414</a></li>
								<li><a href="mailto:contact@literiedamour.dz"><i class="fa fa-envelope-o"></i> contact@literiedamour.dz</a></li>
								<li><a href="https://maps.app.goo.gl/KbpANepKFsNSBQgf8" target="_blank"><i class="fa fa-map-marker"></i> Rue 20 aout commune bordj bahri </a></li>
							</ul>
							
							<ul class="header-links pull-right">
								<% if (typeof(session) != "undefined" && session.loggedin != true) {%>
								<li><a href="/signup"><i class="fa fa-user-plus"></i> S'inscrire</a></li>
								<li><a href="/login"><i class="fa fa-sign-in"></i> Se connecter</a></li>
								<% } else { %>
								<li><a href="/logout"><i class="fa fa-sign-out"></i> Se déconnecter</a></li>
								<% } %>
							</ul>
							
							<div class="menu-toggle pull-right display-none" >
								<a href="#" style="color: #d3a04f;">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
						</div>
					</div>
					<!-- /TOP HEADER -->
		
					<!-- MAIN HEADER -->
					<div id="header">
						<!-- container -->
						<div class="container-fluid">
							<!-- row -->
							<div class="row">
								<!-- LOGO -->
								<div class="col-md-3">
									<div class="header-logo">
										<a href="/" class="logo">
											<img src="/assets/img/logo.png" alt="">
										</a>
									</div>
								</div>
								<!-- /LOGO -->
		
								<!-- SEARCH BAR -->
								<div class="col-md-6">
									<div class="header-search">
										<form>
											<!-- <select class="input-select">
												<option value="0">All Categories</option>
												<option value="1">Category 01</option>
												<option value="1">Category 02</option>
											</select> -->
											<input class="input" placeholder="Recherche produit" id="searchInput">
											<button class="search-btn" id="searchBtn">Recherche</button>
										</form>
									</div>
								</div>
								<!-- /SEARCH BAR -->
				
								<!-- ACCOUNT -->
								<div class="col-md-3 clearfix">
									<div class="header-ctn">
										<% if (typeof(session) != "undefined" && session.loggedin == true) {%>
										<div class="dropdown">
											<a class="dropdown-toggle" href="" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
												<i class="fa fa-user"></i>
												<span>Compte</span>
											</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
												<li><a href="/account">Mon compte</a></li>
												<li><a href="/orders">Mes commandes</a></li>												
												<li role="separator" class="divider"></li>
												<li><a href="/logout">Déconnecter</a></li>
											</ul>
										  </div>

										<!-- Cart -->
										<div class="dropdown">
											<a class="dropdown-toggle" href="" data-toggle="dropdown" aria-expanded="true">
												<i class="fa fa-shopping-cart"></i>
												<span>Votre panier</span>
												<div class="qty" id="qteCart_drop"></div>
											</a>
											<div class="cart-dropdown">
												<div class="cart-list" id="productCart_drop">
													
												</div>
												<div class="cart-summary">
													<h5 id="totalCart_drop"></h5>
												</div>
												<div class="cart-btns">
													<a href="/cart">Voir panier</a>
													<a style="cursor: pointer;" class="myBtnValid_drop">Valider  <i class="fa fa-arrow-circle-right"></i></a>
												</div>
											</div>
										</div>
										<!-- /Cart -->
		
										<!-- Menu Toogle -->


										<% } %>

									
										<!-- /Menu Toogle -->
									</div>
								</div>
								<!-- /ACCOUNT -->
						
							</div>
							<!-- row -->
						</div>
						<!-- container -->
					</div>
					<!-- /MAIN HEADER -->
				</header>
				<!-- /HEADER -->


						<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav" >
						<li class="active"><a href="/">Accueil</a></li>
						<li><a href="/products/list/1">Nos produits</a></li>
						<!-- <li>
							<ul class="main-nav nav navbar-nav" id="header_cat">
							</ul>
					    </li> -->
						<li><a href="/contact">Contact</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

