<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">
<!-- Mirrored from Tahaadou-admin.html.themeforest.scompiler.ru/variants/ltr/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Apr 2023 11:41:32 GMT -->

<head>
  <meta charSet="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <title>E-commerce Admin</title><!-- icon -->
  <link rel="icon" type="image/png" href="/assets/imgs/template/icon.png" /><!-- fonts -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" />
  <!-- css -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.ltr.css" />
  <link rel="stylesheet" href="/assets/vendor/highlight.js/styles/github.css" />
  <link rel="stylesheet" href="/assets/vendor/simplebar/simplebar.min.css" />
  <link rel="stylesheet" href="/assets/vendor/quill/quill.snow.css" />
  <link rel="stylesheet" href="/assets/vendor/air-datepicker/css/datepicker.min.css" />
  <link rel="stylesheet" href="/assets/vendor/select2/css/select2.min.css" />
  <link rel="stylesheet" href="/assets/vendor/datatables/css/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="/assets/vendor/nouislider/nouislider.min.css" />
  <link rel="stylesheet" href="/assets/vendor/fullcalendar/main.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-97489509-8');
  </script>
</head>

<body style="background-color: #fff;">

<div id="top" class="sa-app__body card_a4">
    <div class="sa-invoice">
      <div class="sa-invoice__card">
        <div class="sa-invoice__header">
          <div class="sa-invoice__meta">
            <div class="sa-invoice__title">Bon de sortie</div>
            <div class="sa-invoice__meta-items">
              <span>Date:</span> 20-12-2023
             
            </div>
          </div>
          <div class="sa-invoice__logo">
            <!-- invoice-logo -->
            <div class="sa-invoice-logo">
              <div class="sa-invoice-logo__body">
                <div class="sa-invoice-logo__letters">
                  <img src="/assets/images/logo1.png" width="150"   alt="" />
                </div>
              </div>
            </div>
            <!-- invoice-logo / end -->
          </div>
        </div>
        <div class="sa-invoice__sides">
          <div class="sa-invoice__side">
            <div class="sa-invoice__side-title">Bon pour</div>
            <div class="sa-invoice__side-name">ZINE EDDINE </div>
            <div class="sa-invoice__side-meta">
              Alger<br />0 559 76 42 80
            </div>
          </div>
          <div class="sa-invoice__side">
            <div class="sa-invoice__side-title">Fournisseur</div>
            <div class="sa-invoice__side-name">Literie d'amour</div>
            <div class="sa-invoice__side-meta">
              Rue 20 aout commune bordj bahri<br /> 0561 44 64 14 <br />
              contact@literiedamour.dz
            </div>
          </div>
        </div>
        <div class="sa-invoice__table-container">
          <table class="sa-invoice__table">
            <thead class="sa-invoice__table-head">
              <tr>
                <th class="sa-invoice__table-column--type--product">
                Produit
                </th>
                <th class="sa-invoice__table-column--type--price">
                  Prix
                </th>
                <th class="sa-invoice__table-column--type--unit">
                 
                </th>
                <th class="sa-invoice__table-column--type--quantity">
                  Qantité
                </th>
                <th class="sa-invoice__table-column--type--total">
                  Total
                </th>
              </tr>
            </thead>
            <tbody class="sa-invoice__table-body">
              <tr>
                <td class="sa-invoice__table-column--type--product">
                  AUTUM
                </td>
                <td class="sa-invoice__table-column--type--price">
                  5 000,00
                </td>
                <td class="sa-invoice__table-column--type--unit">
                 
                </td>
                <td class="sa-invoice__table-column--type--quantity">
                  5
                </td>
                <td class="sa-invoice__table-column--type--total">
                 25 000,00
                </td>
              </tr>
             <!--  <tr>
                <td class="sa-invoice__table-column--type--product">
                  Water Hose 40cm
                </td>
                <td class="sa-invoice__table-column--type--unit">
                  Pieces
                </td>
                <td class="sa-invoice__table-column--type--price">
                  $54.00
                </td>
                <td class="sa-invoice__table-column--type--quantity">
                  2
                </td>
                <td class="sa-invoice__table-column--type--total">
                  $108.00
                </td>
              </tr> -->


            </tbody>
            <tbody class="sa-invoice__table-totals">
              <tr>
                <th
                  class="sa-invoice__table-column--type--header"
                  colspan="4"
                >
                  Livraison
                </th>
                <td class="sa-invoice__table-column--type--total">
                  500,00 
                </td>
              </tr>
              <!-- <tr>
                <th
                  class="sa-invoice__table-column--type--header"
                  colspan="4"
                >
                  Tax (VAT 20%)
                </th>
                <td class="sa-invoice__table-column--type--total">
                  $108.00
                </td>
              </tr> -->
              <!-- <tr>
                <th
                  class="sa-invoice__table-column--type--header"
                  colspan="4"
                >
                  Discount
                </th>
                <td class="sa-invoice__table-column--type--total">
                  -$50.00
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="sa-invoice__total">
          <div class="sa-invoice__total-title">Total :</div>
          <div class="sa-invoice__total-value">25 500.00</div>
        </div>
        
      </div>
      <div class=" footer_a4">
        <!-- Information on technical characteristics, the delivery set, the
        country of manufacture and the appearance of the goods is for
        reference only and is based on the latest information available
        at the time of publication. -->
      </div>
    </div>
  </div>



<script src="/lib/data_control.js"></script>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/feather-icons/feather.min.js"></script>
<script src="/assets/vendor/simplebar/simplebar.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/highlight.js/highlight.pack.js"></script>
<script src="/assets/vendor/quill/quill.min.js"></script>
<script src="/assets/vendor/air-datepicker/js/datepicker.min.js"></script>
<script src="/assets/vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
<script src="/assets/vendor/select2/js/select2.min.js"></script>
<script src="/assets/vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
<script src="/assets/vendor/chart.js/chart.min.js"></script>
<script src="/assets/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assets/vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
<script src="/assets/vendor/nouislider/nouislider.min.js"></script>
<script src="/assets/vendor/fullcalendar/main.min.js"></script>
<script src="/assets/js/stroyka.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/calendar.js"></script>
<script src="/assets/js/demo.js"></script>
<script src="/assets/js/demo-chart-js.js"></script>
<script>
  window.addEventListener("load", function (){
      window.print();
      setTimeout(function (){window.close()},2000)
  });
</script>

</body>
<!-- Mirrored from stroyka-admin.html.themeforest.scompiler.ru/variants/ltr/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Apr 2023 11:41:32 GMT -->

</html>

