<%- include ("layout/header.ejs") %>
    <main class="main" style="margin-top: 25px;">
      <section class="section-box shop-template mt-60">
        <div class="container">
          <div class="row mb-100">
            <div class="col-lg-1"></div>
              <form class="col-md-12" method="post" id="signup_form">
                <!-- Billing Details -->
                <div class="billing-details">
                  <div class="section-title">
                    <h3 class="title">MODIFIER MON COMPTE</h3>
                  </div>
                  <% if (typeof(err) != "undefined" && err != null && err == 0) { %>
                    <div class="alert alert-success ms-4 me-4" role="alert">Votre compte a été modifié.</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 1) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Remplissez tous les champs obligatoire* !</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 2) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Confirmation du mot de passe incorrect !</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 3) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Minimum 6 caractére pour le mot de passe !</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 4) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Nom d'Utilisateur existe déja !</div>
                  <% } %>

                  <div class="form-group col-md-6">
                    <input class="input" type="text" name="username" placeholder="Nom d'Utilisateur*" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input class="input" type="password" name="password" placeholder="Mot de passe* (Minimum 6 caractéres)" required>
                  </div>
                  <div class="form-group col-md-6">
                    <input class="input" type="password" name="password_c" placeholder="Confirmation mot de passe*" required>
                  </div>
                </div>
                <!-- /Billing Details -->
                <div class="col-md-12 text-center" style="margin-top: 25px;">
                  <button type="submit" class="primary-btn order-submit" style="width: 200px;">Modifier</button>  
                </div>               
                <!-- Shiping Details -->
              </form>
          </div>
        </div>
      </section>
    </main>

    <%- include ("layout/footer.ejs") %>

