<%- include ("layout/header") %>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Contact</h3>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-7">
						<div class="logo" style="margin-bottom: 5%;">
							<img src="/assets/img/logo1.png" alt="" width="300">
						</div>

						<ul>
							
						</ul>
	
							
	
							<ul class="footer-links">
								<li><a href="tel:+213561446414" style="color: black; font-size: large;"><i class="fa fa-phone"></i> 0561446414</a></li>
								<li><a href="mailto: contact@literiedamour.dz" style="color: black; font-size: large;"><i class="fa fa-envelope-o"></i>contact@literiedamour.dz</a></li>
								<li><a href="https://maps.app.goo.gl/KbpANepKFsNSBQgf8" target="_blank" style="color: black; font-size: large;"><i class="fa fa-map-marker"></i>Rue 20 aout commune bordj bahri </a></li>
							</ul>
				
					</div>


					<!-- Order Details -->
					<div class="col-md-5">

						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12782.577638148587!2d3.2534615!3d36.7790971!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e4f0067d6d847%3A0x7b3db7d4d3217f7c!2sLiterie%20d&#39;amour!5e0!3m2!1sfr!2sdz!4v1702296725621!5m2!1sfr!2sdz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

					</div>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<%- include ("layout/footer") %>