<%- include ("layout/header.ejs") %>
    <main class="main" style="margin-top: 25px;">
      <section class="section-box shop-template mt-60">
        <div class="container">
          <div class="row mb-100">
            <div class="col-lg-1"></div>
              <form class="col-md-12" method="post" id="login_form">
                <!-- Billing Details -->
                <div class="billing-details">
                  <div class="section-title">
                    <h3 class="title">Authentification</h3>
                    <p>Content de te revoir !</p>
                  </div>
                  <% if (typeof(err) != "undefined" && err != null && err == 1) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Remplissez tous les champs obligatoire* ! !</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 2) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Erreur d'informations !</div>
                  <% } else if (typeof(err) != "undefined" && err != null && err == 3) { %>
                    <div class="alert alert-danger ms-4 me-4" role="alert">Erreur d'envoie d'email de confirmation !</div>
                  <% } %>
                  <div class="form-group col-md-12">
                    <input class="input" type="text" name="username" placeholder="Nom d'Utilisateur*" required>
                  </div>
                  <div class="form-group col-md-12">
                    <input class="input" type="password" name="password" id="passwordInput" placeholder="Mot de passe*" required>
                  </div>
                  <div class="form-group col-md-12">
                    <input class="checkagree" id="showpassword" type="checkbox" onclick="myFunction()">
                    <label for="showpassword">Voir le mot de passe</label>
                  </div>
                </div>
                <!-- /Billing Details -->
                <div class="col-md-12 text-center" style="margin-top: 25px;">
                  <button type="submit" class="primary-btn order-submit" style="width: 200px;">Connexion</button>  
                </div>               
                <!-- Shiping Details -->
              </form>
          </div>
        </div>
      </section>
    </main>

    <%- include ("layout/footer.ejs") %>


    
<script>
  function myFunction() {
    var x = document.getElementById("passwordInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>



<script>
      
  document.querySelector("#login_form").addEventListener("submit",()=>{$('#loading-modal').modal('show');})
  
</script>